<!-- <mat-selection-list #shoes>
    @for (shoe of typesOfShoes; track shoe) {
      <mat-list-option checkboxPosition="before">{{shoe}}</mat-list-option>
    }
</mat-selection-list> -->

<mat-accordion>
    @for (todo of todos(); track todo.id) {
    <!-- @if (todo(); as todo) { -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <input type="checkbox" />
          {{$index + 1}} {{todo.title}}
        </mat-panel-title>
        <mat-panel-description>
          <div class="grediant-color">{{todo.timeLeft > 0 ? todo.timeLeft: 'Time out'}}</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-tab-group selectedIndex="1">
        <mat-tab label="Notes">
          <div class="row">
            <h2 class="grediant-color">Add Notes on Task</h2>
            <button mat-stroked-button color="accent" (click)="saveNote(todo, content.textContent ?? '')">
              Save
            </button>
          </div>
          <div class="grediant-color" contenteditable="true" #content [textContent]="todo.note || 'Type Here...'"></div>
        </mat-tab>
        <mat-tab label="Timer">
          <button mat-stroked-button color="accent" (click)="toggleTimer(todo)">
            {{todo.start ? 'Pause' : 'Start'}}
          </button>
          <button mat-button color="accent" (click)="deleteTodo(todo.id)">
            Delete
          </button>
        </mat-tab>
        <mat-tab label="Extra" class="grediant-color"> AI generating... How to do this task...</mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
    <!-- } -->
    }
  </mat-accordion>
  <button mat-fab matTooltip="Primary" color="primary"
    (click)="addTodo()">
    <mat-icon>add</mat-icon>
  </button>
<style>
  mat-panel-description {
      justify-content: end;
      flex-grow: 0;
  }

  .red {
      color: red;
  }

  button[mat-fab] {
      position: fixed;
      bottom: 20px;
      right: 20px;
  }

  [contenteditable] {
    height: 100px;
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
</style>